@page "/dashboard"
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.EntityFrameworkCore
@using OnboardingApp.Data
@using OnboardingApp.Models
@attribute [Authorize]

@inject ApplicationDbContext Db
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<ApplicationUser> UserManager

@if (isLoading)
{
    <p>Laddar dashboard...</p>
}
else
{
    <h1>
        Välkommen@(string.IsNullOrWhiteSpace(firstName) ? "" : $", {firstName}")!
    </h1>
    <ModuleOverview
        TotalModules="@totalModules"
        CompletedModules="@completedModules"
        RemainingModules="@remainingModules" />
    <ProgressBar 
        Total="@totalChecklistItems" 
        Completed="@completedChecklistItems" />
}

@code {
    private bool isLoading = true;

    // Vairable to store name of user
    private string? firstName;

    // Module variables
    private int totalModules;
    private int completedModules;
    private int remainingModules;

    // Checklist variables
    private int totalChecklistItems;
    private int completedChecklistItems;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated != true)
        {
            isLoading = false;
            return;
        }

        var appUser = await UserManager.GetUserAsync(user);
        firstName = appUser?.FirstName;

        string? userId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;

        if (string.IsNullOrWhiteSpace(userId))
        {
            isLoading = false;
            return;
        }

        totalModules = await Db.Modules.CountAsync();

        completedModules = await Db.UserModuleProgresses
            .CountAsync(x => x.UserId == userId && x.IsCompleted);

        remainingModules = totalModules - completedModules;

        totalChecklistItems = await Db.ChecklistItems.CountAsync();

        completedChecklistItems = await Db.UserChecklistItemStatus
        .CountAsync(x => x.UserId == userId && x.Status == ChecklistStatus.Completed);

        isLoading = false;
    }
}